<!--容器-->
{{#each this}}
<div id="inbox_content_refresharea">
  <table class="table table-striped table-bordered table-hover table-checkable order-column" id="inbox_content_datatable">
      <thead>
      </thead>
      <tbody>
      </tbody>
  </table>

</div>
{{/each}}