{{#each this}}
<div class="page-content page-content-base">
    <div class="row">
        <div class="col-md-12">
            <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="index.html"><font key="i18n.site"></font></a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span class="active"><font key="i18n.containerManagement"></font></span>
                    </li>
            </ul>
            <div class="row containerManagement_table">
                <!--表格插入区域-->
            </div>
        </div>
    </div>
</div>
{{/each}}