{{#each this}}
<div class="page-content id='containerManagement'">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="index.html">首页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
        <span class="active"><font>存储库</font></span>
        </li>
    </ul>
    <div class="row containerManagement_table">
        <!--表格插入区域-->
    </div>
</div>
{{/each}}