{{#each this}}
<div class="page-content parent-{{parentName}} {{pageName}}">
    <div class='row'>
        <!--表格插入区域-->
        <div class="col-md-12">
            <div class="portlet light bordered">
             <div class="portlet-title tabbable-line">
                <div class="caption">
                 <button type="button" class="btn  mt-ladda-btn ladda-button myblockbutton  blockui_TaskInit" data-style="contract" data-spinner-color="#697882">
                    <span class="ladda-label"> <i class="icon-refresh"></i></span>
                    <span class="ladda-spinner"></span>
                    <span class="ladda-spinner"></span>
                    <span class="ladda-spinner"></span>
                </button>
                <span class="caption-subject font-dark bold uppercase">搜索成员1</span>
            </div>

            <div class="actions">
              {{> common/protletTitleTools protletTitleTools}}

          </div>

      </div>
      <div class="portlet-body" style="min-height:300px">
        <form class="form-horizontal" role="form">
            <div class="form-body myform-body">
                <div class='row'>

                    <div class="form-group col-md-4">
                        <label class="col-md-3 control-label">类型</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id='search_someone_type' disabled value='用户'>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="col-md-3 control-label">ID</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id='search_someone_ID'>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-md-3 control-label">名称</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id='search_someone_name'>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">

                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">

                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <button type="submit" class="btn btn-success mt-ladda-btn ladda-button search_object  pull-right" id='search_someone_search' data-style="zoom-in">
                                <span class="ladda-label">
                                    <i class="fa fa-search"></i>  搜索
                                </span>
                                <span class="ladda-spinner">
                                </span>
                                <div class="ladda-progress" style="width: 0px;">
                                </div>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
        <div id="search_someone_refresharea">

          <table class="table table-striped table-bordered table-hover table-checkable order-column" id="search_someone">

            <thead>

            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="row">
        <div class="col-md-12  ">
         <div class="pull-right">
             <button type="submit" class="btn green" id="search_someone_select">选择</button>
             <button type="button" class="btn default" id="search_someone_cancel">取消</button>

         </div>
     </div>

 </div>

</div>
</div>
</div>
</div>
</div>
{{/each}}

