<div class="form-group">
    <label class="control-label col-md-2">{{text}}</label>
    <div class="col-md-10">
        <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="input-group">
                <div class="form-control uneditable-input input-fixed" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                    <span class="fileinput-filename"></span>
                </div>
                <span class="input-group-addon btn default btn-file">
                    <span class="fileinput-new"> 选择文件 </span>
                    <span class="fileinput-exists"> 更改 </span>
                    <input type="hidden" value="" name="..."><input type="file" name="">
                </span>
                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
            </div>
        </div>
    </div>
</div>