 <div class="form-group">
                        <label class="col-md-2 control-label">状态</label>
                        <div class="col-md-10">
                            <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked=""> 启用
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2" checked=""> 禁用
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>