 <div class="form-group">
 <label class="col-md-2 control-label">{{text}}</label>
    <div class="col-md-10">
        <div class="input-group">
            <input type="text" class="form-control my_input" id="{{id}}">
            <div class="input-group-btn">
                <button type="button" id="{{idbutton}}" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right my_select" id="{{idul}}">
                </ul>
            </div>
        </div>
    </div>
</div>