 <div class="modal-footer mymodal-footer">
<!--     <button type="button" data-dismiss="modal" class="btn btn-outline dark">取消</button> -->
    <button type="button" data-dismiss="modal" class="btn green">确定</button>
</div>