<div class="page-wrapper-row">
    <div class="page-wrapper-top">
        <div class="page-header">
            <div class="page-header-top">
                <div class="container">
                  {{> common_pcontent_logo}}
                  <a href="javascript:;" class="menu-toggler"></a>
                  {{> common_pcontent_menu}}
              </div>
              <div class="page-header-menu" style="display: block;">
                  {{> common_pcontent_navbar}}
              </div>
          </div>
      </div>
  </div>
</div>