<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-content {{bgcolor}}">
                    <div class="container">
                        <div class="page-content-inner">
                            <div class='row'>
                                <div class="col-md-12">
                                    <div class="portlet light">
                                        <div class="portlet-body">
                                            <div class="form-horizontal" role="form">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                           {{> common_pcontent_input  isselect=true text='产品系列' required=true md='L'}}
                                                           {{> common_pcontent_input  isselect=true text='产品用途' required=true md='L'}}
                                                           {{> common_pcontent_input  isselect=true text='细分用途'  md='L'}}
                                                           {{> common_pcontent_input  isselect=true text='机型' md='L'}}
                                                           {{> common_pcontent_input  isselect=true text='功率' md='L'}}
                                                       </div>
                                                       <div class="col-md-6">
                                                        <img src="public/default.jpg" class="img-responsive" alt="Responsive image" >
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="btn-group btn-group btn-group-justified">
                                                            <a href="javascript:;" class="btn"> </a>
                                                            <a href="javascript:;" class="btn"> </a>
                                                            <a href="javascript:;" class="btn"> </a>
                                                            <a href="javascript:;" class="btn"> </a>
                                                            <a href="javascript:;" class="btn blue">搜索</a>
                                                            <a href="javascript:;" class="btn"> </a>
                                                            <a href="javascript:;" class="btn"> </a>
                                                            <a href="javascript:;" class="btn"> </a>
                                                            <a href="javascript:;" class="btn"> </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id='index_content_table'>
                                                <thead>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>