<div class="page-wrapper-row full-height">
    <div class="page-wrapper-middle">
        <div class="page-container">
            <div class="page-content-wrapper">
                {{> main_pcontent_img bgcolor='bgred'}}
                {{> main_pcontent_aboutblock bgcolor='bgwhite'}}
                 {{> main_pcontent_fangdian bgcolor=''}}
                 {{> main_pcontent_team2 bgcolor=''}}
                {{> main_pcontent_featuresblock bgcolor='bggray' id="echart"}}
                {{> main_pcontent_functionblock bgcolor=''}}
                 {{> main_pcontent_team bgcolor='bggray'}}
            </div>
        </div>
    </div>
</div>