{{!-- nav导航容器任务，新建，管理分类容器 --}}
{{#each this}}
<div class=" col-md-6 col-lg-4 {{class}}">
    <div class="portlet light  bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green bold uppercase">{{subject}}</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
            {{!-- help,newbuild,management插入区域 --}}

            </div>
        </div>
    </div>
</div>
{{/each}}