{{!-- nav导航容器内容头部的帮助区域 --}}
{{#each this}}
<div class="col-md-4 bg-grey-steel mt-step-col {{stateColor}} content">
    <div class="mt-step-number">{{number}}</div>
    <div class="mt-step-title uppercase font-grey-cascade">{{content}}</div>
</div>
{{/each}}