{{!-- nav导航容器新建容器 --}}
{{#each this}}
<div class="col-xs-6 content {{colClass}}">
    <a href="javascript:;" class="icon-btn col-xs-12">
        <i class="iconfont icon-{{icon}}"></i>
        <div> {{title}} </div>
    </a>
</div>
{{/each}}
