<div class="page-content {{bgcolor}}">
    <div class="container">
        <div class="page-content-inner">
            <div class="mt-content-body">
                {{> main_pcontent_caption title='快速导航'}}
                <div class='row'>

                {{> main_pcontent_portlet2 text='方甸介绍'}}
                {{> main_pcontent_portlet2 text='原创文章'}}
                {{> main_pcontent_portlet2 text='专家咨询'}}
                {{> main_pcontent_portlet2 text='云平台'}}
                {{> main_pcontent_portlet2 text='产品介绍'}}
                {{> main_pcontent_portlet2 text='联系我们'}}
                {{> main_pcontent_portlet2 text='新闻活动'}}
                {{> main_pcontent_portlet2 text='我的方甸'}}

            </div>

        </div>
    </div>
</div>
</div>