<div class='row'>
    <div class="col-md-12 col-sm-12">
        <div class="portlet">
            <div class="portlet-title text-center">
                <div class="caption forcecenter">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">{{title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>