<div class="page-content {{bgcolor}}" id='fangdian'>
    <div class="portfolio-content portfolio-2">
        <div id="js-grid-mosaic" class="cbp cbp-l-grid-mosaic cbp-caption-active cbp-caption-zoom cbp-ready" style="">
            <div class="cbp-wrapper-outer">
                <div class="cbp-wrapper">
                    <div class="cbp-item graphic web-design" style="width:100%">
                        <div class="cbp-item-wrapper">
                            <a href="public/321.jpg" class="cbp-caption cbp-lightbox" data-title="Holiday Selector<br>by Cosmin Capitanu">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="public/231.png" alt=""  style="heigth:100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">

                                            <div class="page-content-inner">
                                                <div class="mt-content-body">
                                                    <div class='row'>
                                                    <div class="col-md-12 col-xs-12" >

                                                        <div class="cbp-l-caption-title">关于方甸</div>
                                                        <div class="cbp-l-caption-desc col-md-8 forcecenter">方甸是国内首个企业级技术信息管理云平台，以前沿的结构化信息技术为核心，是美嘉林技术团队长期服务各行业高端客户技术信息管理经验的结晶。平台注册即用，按使用付费，用户无需考虑设备购置与运维成本，并配以专家在线或离线技术支持。在保证企业技术信息管理高效的同时，极大地降低了用户的使用成本。</div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>


                                        <div class='row'>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



















<div class="container">
    <div class="page-content-inner">
        <div class="mt-content-body">
            <div class='row'>
                <div class="col-md-12 col-xs-12" style='' >

                </div>

            </div>

        </div>
    </div>
</div>
</div>