<div class="page-content {{bgcolor}}">
    <div class="container">
        <div class="page-content-inner">
            <div class="mt-content-body">
                {{> main_pcontent_caption title='四大功能模块'}}
                <div class='row'>
                    <div class="col-md-12 col-sm-12">
                    {{> main_pcontent_timeline}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>