<div class="page-content {{bgcolor}}">
    <div class="container">
        <div class="page-content-inner">
            <div class="mt-content-body">
                <div class='row'>
                    <div class="col-md-12 col-sm-12" style='height:350px' id='img'>
                    <h1>方甸</h1>
                    <h2>国内首个企业级技术信息管理云平台，技术资料一站式全解决方案</h2>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>