<div class="page-content {{bgcolor}}">
    <div class="container">
        <div class="page-content-inner">
            <div class="mt-content-body">
               {{> main_pcontent_caption title='我们的团队'}}
               <div class='row'>
                <div class="portlet light portlet-fit ">
                    <div class="portlet-body">
                        <div class="mt-element-list">
                            <div class="mt-list-head list-news ext-1 font-white bg-yellow-crusta">
                                <div class="list-head-title-container">
                                    <h3 class="list-title">云服务器对比本地部署</h3>
                                </div>
                            </div>
                            <div class="mt-list-container list-news ext-2">
                                <ul>
                                    <li class="mt-list-item">

                                        <div class="list-thumb">
                                            <a href="javascript:;">
                                                <img alt="" src="../assets/global/img/portfolio/600x600/12.jpg">
                                            </a>
                                        </div>

                                        <div class="list-item-content">
                                            <h3 class="uppercase bold">
                                                <a href="javascript:;">专家顾问实施团队</a>
                                            </h3>
                                            <p>美嘉林方甸拥有一支超过10年实施经验的专家顾问团队，为客户提供从业务流程到数据细节的全方位实施指导，如结构化数据创作规范的制定，样式规范的制定，样式的定制，历史数据迁移等。以他们对客户需求的深刻理解来保障客户的技术文档结构化转变快速有效。 </p>
                                        </div>

                                    </li>
                                    <li class="mt-list-item">

                                        <div class="list-thumb">
                                            <a href="javascript:;">
                                                <img alt="" src="../assets/global/img/portfolio/600x600/12.jpg">
                                            </a>
                                        </div>

                                        <div class="list-item-content">
                                            <h3 class="uppercase bold">
                                                <a href="javascript:;">技术支持运维团队</a>
                                            </h3>
                                            <p>美嘉林方甸配置了一支强大的运维支持团队，以保障快速解决客户使用产品遇到的问题；并设专属客服，上门提供培训支持。 </p>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>






            </div>
        </div>
    </div>
</div>
</div>