<div class="page-content {{bgcolor}}">
    <div class="container">
        <div class="page-content-inner">
            <div class="mt-content-body">
             {{> main_pcontent_caption title='我们的团队'}}
             <div class='row'>
                <div class="portlet light portlet-fit ">
                    <div class="portlet-body">
                        <div class="blog-page blog-content-1">
                           <div class='row'>
                               <div class="col-sm-6">
                                <div class="blog-post-sm bordered blog-container">
                                    <div class="blog-img-thumb">
                                        <a href="javascript:;">
                                            <img src="public/team1.png">
                                        </a>
                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title blog-post-title">
                                            <a href="javascript:;">专家顾问实施团队</a>
                                        </h2>
                                        <p class="blog-post-desc">美嘉林方甸拥有一支超过10年实施经验的专家顾问团队，为客户提供从业务流程到数据细节的全方位实施指导，他们以对客户需求的深刻理解来保障客户的技术文档结构化转变快速有效。 </p>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="blog-post-sm bordered blog-container">
                                    <div class="blog-img-thumb">
                                        <a href="javascript:;">
                                            <img src="public/team2.png">
                                        </a>
                                    </div>
                                    <div class="blog-post-content">
                                        <h2 class="blog-title blog-post-title">
                                            <a href="javascript:;">技术支持运维团队</a>
                                        </h2>
                                        <p class="blog-post-desc">美嘉林方甸配置了一支强大的运维支持团队，以保障快速解决客户使用产品遇到的问题；并设专属客服，上门提供培训支持。&#12288 &#12288 &#12288 &#12288 &#12288 &#12288 &#12288 &#12288 &#12288 &#12288 </p>

                                    </div>
                                </div>
                            </div>

                                   <!--  <div class="col-sm-4">
                                        <div class="blog-post-sm bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="public/intel.jpg">
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a href="javascript:;">艾美系列产品生态链</a>
                                                </h2>
                                                <p class="blog-post-desc">美嘉林拥有者艾美系列生态软件产品以及方甸信息管理平台，在技术资料、信息发布、平台管理等多个领域有着实践经验。</p>

                                            </div>
                                        </div>
                                    </div> -->




                                </div>
                            </div>

                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>
</div>