<li class="mt-item">
            <div class="mt-timeline-icon bg-red bg-font-red border-grey-steel">
                <i class="icon-home"></i>
            </div>
            <div class="mt-timeline-content">
                <div class="mt-content-container">
                    <div class="mt-title">
                    <h3 class="mt-content-title"></h3>
                    </div>

                    <div class="mt-content border-grey-salt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui
                            ut.</p>
                            <a href="javascript:;" class="btn btn-circle red">Read More</a>
                        </div>
                    </div>
                </div>
            </li>