<div class="top-menu">
    <ul class="nav navbar-nav pull-right">
        <li class="droddown dropdown-separator">
            <span class="separator"></span>
        </li>
        <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="circle">3</span>
                <span class="corner"></span>
            </a>

        </li>
        <li class="dropdown dropdown-user dropdown-dark">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <img alt="" class="img-circle" src="../assets/layouts/layout3/img/avatar9.jpg">
                <span class="username username-hide-mobile">Nick</span>
            </a>
        </li>
        <li class="dropdown dropdown-extended quick-sidebar-toggler">
            <span class="sr-only">Toggle Quick Sidebar</span>
            <i class="icon-logout"></i>
        </li>
    </ul>
</div>