<div class="container">
    <div class="hor-menu  ">
        <ul class="nav navbar-nav">
        <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                <a href="javascript:;"> 首页
                <span class="arrow"></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 710px">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                             {{> common_pcontent_navitem text='专家专栏'}}
                             {{> common_pcontent_navitem text='方家答疑'}}
                             {{> common_pcontent_navitem text='方甸知识库'}}
                         </div>
                     </div>
                 </li>
             </ul>
         </li>
            <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                <a href="javascript:;"> 前言课堂
                <span class="arrow"></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 710px">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                             {{> common_pcontent_navitem text='专家专栏'}}
                             {{> common_pcontent_navitem text='方家答疑'}}
                             {{> common_pcontent_navitem text='方甸知识库'}}
                         </div>
                     </div>
                 </li>
             </ul>
         </li>
         <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                <a href="javascript:;"> 功能介绍
                <span class="arrow"></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 710px">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                             {{> common_pcontent_navitem text='核心功能'}}
                             {{> common_pcontent_navitem text='核心组件'}}
                             {{> common_pcontent_navitem text='技术专家咨询'}}
                             {{> common_pcontent_navitem text='方甸咨询电话'}}
                         </div>
                     </div>
                 </li>
             </ul>
         </li>
         <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                <a href="javascript:;">免费使用
                <span class="arrow"></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 710px">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                             {{> common_pcontent_navitem text='试用云平台'}}
                             {{> common_pcontent_navitem text='服务标准'}}
                             {{> common_pcontent_navitem text='服务承诺'}}
                             {{> common_pcontent_navitem text='产品白皮书'}}
                             {{> common_pcontent_navitem text='视频教学'}}
                         </div>
                     </div>
                 </li>
             </ul>
         </li>
         <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                <a href="javascript:;">我的方甸
                <span class="arrow"></span>
                </a>
                <ul class="dropdown-menu" style="min-width: 710px">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                             {{> common_pcontent_navitem text='试用云平台'}}
                             {{> common_pcontent_navitem text='服务标准'}}
                             {{> common_pcontent_navitem text='服务承诺'}}
                             {{> common_pcontent_navitem text='产品白皮书'}}
                             {{> common_pcontent_navitem text='视频教学'}}
                         </div>
                     </div>
                 </li>
             </ul>
         </li>
     </ul>
 </div>
</div>
