{{#each this}}
    <div class="page-content parent-{{parentName}}  {{pageName}}">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet ">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-green bordered">
                                <i class="icon-settings font-green"></i>
                                <span class="caption-subject bold uppercase"> <font key='i18n.searchPrincipal'></font></span>
                            </div>
                            {{> common/protletTitleTools protletTitleTools}}
                        </div>

                        <div class="row">
                            <div class="col-md-12 ">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label  class="col-md-3 col-sm-3 control-label"  ><font key="i18n.Softtype"></font></label>

                                        <div class="col-md-6 col-sm-6 ">
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="input" value="">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" >
                                                        <i class="fa fa-angle-down"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="javascript:;"> <font key="i18n.group"></font> </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;"> <font key="i18n.user"></font> </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                                <!-- /btn-group -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="principalId" class="col-md-3  col-sm-3 control-label" >ID:</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" class="form-control" id="groupPrincipalId" placeholder="请输入ID">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-md-3 col-sm-3 control-label" ><font key="i18n.name"></font>:</label>
                                        <div class="col-md-6 col-sm-6">
                                            <input type="text" class="form-control" id="groupName" placeholder="请输入name">
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="form-group col-sm-4 col-md-4 clearfix pull-right">
                                        <div class="col-sm-12 ">
                                            <button type="button" class="btn green  pull-right col-sm-4" id="groupSearchMemOrGroup" ><font key="i18n.search"></font></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-condensed table-hover table-checkable order-column table-responsive" id="search">
                                <thead>
                                <tr class="bg-green text-white" >
                                    <th class="col-md-1 col-sm-1 col-xs-1">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline " style="margin-left:20px;">
                                            <input type="checkbox" class="group-checkable item_check" id="item_check" data-set="#example .checkboxes" />
                                            <span></span>
                                        </label>
                                    </th>
                                    <th><font key="i18n.Softtype"></font> </th>
                                    <th>ID</th>
                                    <th>  <font key="i18n.name"></font>  </th>
                                    <th> <font key="i18n.descriptioin"></font> </th>
                                    <th><font key="i18n.site"></font></th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="saveMem"><font key="i18n.add"></font></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}