{{#each this}}
    <div id="tab_content_{{tabContentName}}" class="tab-pane {{tabContentStatus}} height-all">
        <iframe id="iframe-{{tabContentIframeId}}" frameborder='0' width="100%" height="830" src="{{tabContentIframeSrc}}"></iframe>
    </div>
{{/each}}