<!--工作流容器-->
{{#each this}}
    <div class="page-content  page-content-base" id='workflowManagement'>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="index.html"><font key="i18n.homePage"></font></a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active"><font key="i18n.TranslationConfiguration"></font></span>
            </li>
        </ul>
        <div class='row'>
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption portlet-title tabbable-line">
                            <!--<i class="icon-settings font-green"></i>
                            <span class="caption-subject font-dark bold uppercase">翻译配置</span>-->
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a id="transLM_createLangList" data-toggle="tab"><font key="i18n.ListLanguages"></font></a>
                                </li>
                                <li>
                                    <a id="transLM_transLangList" data-toggle="tab"><font key="i18n.ListTranslatedLanguages"></font></a>
                                </li>
                            </ul>
                        </div>
                        <!--四个按钮-->
                        <div class="actions">
                            <div class="btn-group btn-group-devided " data-toggle="buttons">

                                <button type="button" id="transLM_save"
                                        class="btn btn-transparent green btn-outline btn-circle btn-sm margin-right-25 mt-ladda-btn ladda-button"
                                        data-style="slide-right">
                                                <span class="ladda-label"><font
                                                        key="i18n.save"></font></span>
                                </button>

                                <label id="transLM_addData"
                                       class="btn btn-transparent green btn-outline btn-circle btn-sm margin-right-25">
                                    <input type="radio" name="options" class="toggle"> <font
                                        key="i18n.add"></font></label>
                                <label id="transLM_deleteBtn"
                                       class="btn btn-transparent green btn-outline btn-circle btn-sm  margin-right-25 ">
                                    <input type="radio" name="options" class="toggle" id="option3"><font
                                        key="i18n.DeleteCreate"></font></label>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body" style="min-height:300px">
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-12 col-xs-12 col-sm-12">
                                    <div class="portlet light">
                                        <!--<div class="portlet-title">

                                        </div>-->
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="transLm_gAlert"></div>
                                                    <!--主表格-->
                                                    <div id="transLM_mainTable_loadding" style="min-height: 500px;">
                                                        <table class="table table-striped table-bordered table-hover table-checkable order-column"
                                                               id="transLM_mianTable">
                                                            <thead>
                                                            <tr class="bg-green">
                                                                <th>
                                                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                        <input id="transLM_allChecked" type="checkbox"
                                                                               class="group-checkable"
                                                                               data-set="#sample_1 .checkboxes"/>
                                                                        <span></span>
                                                                    </label>
                                                                </th>
                                                                <th><font key="i18n.LanguageCode"></font></th>
                                                                <th><font key="i18n.LanguageDescription"></font></th>
                                                                <th><font key="i18n.SaveTheFolder"></font></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody id="homeDoc_dataBox">

                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}