<div  id='{{id}}' class="modal fade" tabindex="-1" data-focus-on="input:first" data-width='800'>
    <div class="portlet light mylight">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">P样例存储库</span>
            </div>
            <div class="actions">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
        </div>
        <div class="portlet-body form">
            <form class="form-horizontal" role="form">
                <div class="form-body myform-body">
                 <div id="jstree_1">
                 </div>
             </div>

         </form>
     </div>

 </div>

</div>